<a href="https://colab.research.google.com/github/Martine1grace/NLP_FELLOWSHIP_AI-Machine_Translation.-/blob/main/Week3/pythonPractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Practical

# Write up to any lines of code in python which show that you have advanced/intermidiate skills in the language | note that it doesn't have to be running | or follow a systematic logic | using some known python packages in machine learning is a plus | the code will be assesssed by reading through so the code doesn't have to run with error free

In [ ]:
print("hello programmer !!")

In [ ]:
a=33
b=330
if b>a:
  print("b is greater than a !")

In [ ]:
x=min(5,6,8,2,7)
y=max(88,55,33,90)
print(x)
print(y)

In [ ]:
import math

x=math.ceil(3.6)
y=math.floor(3.6)
print(y)
print(x)

In [ ]:
fruits=['banana','peneaple','ananas','mango']
for x in fruits:
  print(x)

In [ ]:
def my_function():
  print("hello function !")
my_function()

In [ ]:
def my_name(fname):
  print("HATEGEKIMANA"+" "+fname)
my_name("MartineGrace")

In [ ]:
import re

txt="The third world was began in 2021"
x=re.search("\s",txt)
print("the first white space is on position:",x.start())

In [ ]:
import pandas as pd

details = {
    'Name' : ['Anita','felix','grece','blenda', 'louange', 'sylvain', 'blese','manzi','maxime','bella'],
    'Age' : [34, 35, 36, 37,40,23,24,25,26,17],
    'University' : ['iprc-kitabi','iprc-ngoma','iprc-kigali','UTAB','KIST','englan', 'india', 'auk', 'uk', 'ulk'],
}
df=pd.DataFrame(details)
print(df)

      Name  Age   University
0    Anita   34  iprc-kitabi
1    felix   35   iprc-ngoma
2    grece   36  iprc-kigali
3   blenda   37         UTAB
4  louange   40         KIST
5  sylvain   23       englan
6    blese   24        india
7    manzi   25          auk
8   maxime   26           uk
9    bella   17          ulk

In [ ]:
import json

x={"name":"grace",
   "age":"45",
   "city":"kigali"
   }
y=json.dumps(x)
print(y)

In [ ]:
username=input('enter your name')
print('your name is :'+username)

enter your namegggg
your name is :gggg

In [ ]:
print(df.loc[1])

Name               felix
Age                   35
University    iprc-ngoma
Name: 1, dtype: object

In [ ]:
import numpy as np

arr=np.array((1,2,3,4,5,6,7,8))
print(arr)

[1 2 3 4 5 6 7 8]

In [ ]:
print(arr.dtype)